.mt-1 {
  margin-top: var(--spacing-1);
}

.status-suspended {
  color: var(--color-warning);
}

.status-active {
  color: var(--color-success);
}

.deployments-container {
  display: grid;
  grid-template-columns: 3fr 9fr;
  gap: var(--spacing-1);
}

.deployments-tile {
  padding: var(--spacing-2);
}

.deployments-details-empty {
  padding: var(--spacing-2);
  border: 2px solid var(--color-primary);
}

.deployments-details-panel {
  align-items: center; 
  margin: var(--spacing-1);
}

.deployments-details {
  padding: var(--spacing-2);
}

.delete-button {
  padding: var(--spacing-1);
  margin-top: var(--spacing-2);
}

.delete-button:hover {
  background-color: var(--color-danger);
  border-color: var(--color-danger);
}

.list-scrollable {
  overflow-y: auto;
  overflow-x: hidden;
  padding: var(--spacing-1);
  height: 90vh;
}

.react-bpmn-diagram-container {
  margin-top: var(--spacing-5);
  height: 30vh;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: var(--spacing-2);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 35vw;
  max-width: 90vw;
}

.modal-body {
  margin-top: var(--spacing-1);
}

.modal-footer {
  margin-top: var(--spacing-3);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.btn {
  padding: var(--spacing-1) var(--spacing-3);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: var(--h4-size);
}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
}

.btn-secondary {
  background-color: var(--border-color-2);
  color: white;
}

.btn-primary:hover {
  background-color: var(--color-danger);
}

.btn-secondary:hover {
  background-color: #5a6268;
}

.form-group {
  display: flex;
  align-items: center; 
  margin-bottom: var(--spacing-1); 
}

.form-group input[type="checkbox"] {
  flex-shrink: 0;
  width: auto; 
  height: auto; 
  margin-right: var(--spacing-2);
  margin-top: var(--spacing-2);
  outline: none;
}

.form-group label span{
  margin-left: var(--spacing-1);
  color: var(--text-2);
  font-size: var(--h5-size);
}

.form-group label {
  margin-top: 0;
}

.modal-footer-buttons {
  display: flex;
  justify-content: flex-end; 
  gap: var(--spacing-2); 
}