.deployments-container {
    display: grid;
    grid-template-columns: max-content max-content 7fr;
    gap: var(--spacing-1);
  }

  .process-details {
    overflow-y: auto;
    padding: var(--spacing-2);
  }

  .strong {
    font-weight: bold;
  }
  
  .bpmn-viewer {
    margin-top: 1rem;
    padding: 1rem;
    background: #fff;
    border-radius: var(--border-radius);
    overflow: auto;
  }

  /****** old css *********/
  
  .status-suspended {
    color: var(--color-warning);
  }
  
  .status-active {
    color: var(--color-success);
  }
  
  .delete-button {
    padding: var(--spacing-1);
    margin-top: var(--spacing-2);
  }
  
  .delete-button:hover {
    background-color: var(--color-danger);
    border-color: var(--color-danger);
  }
  
  .react-bpmn-diagram-container {
    height: 30vh;
  }
  
  .padding-1 {
    padding: var(--spacing-1);
  }
  
  .checkbox-hover:hover {
    cursor: pointer;
    color: var(--color-primary);
  }

  .warning {
    color: var(--color-warning);
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: var(--spacing-2);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 35vw;
    max-width: 90vw;
  }
  
  .modal-body {
    margin-top: var(--spacing-1);
  }
  
  .modal-footer {
    margin-top: var(--spacing-3);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
  }
  
  .btn {
    padding: var(--spacing-1) var(--spacing-3);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: var(--h4-size);
  }
  
  .btn-primary {
    background-color: var(--color-primary);
    color: white;
  }
  
  .btn-secondary {
    background-color: var(--border-color-2);
    color: white;
  }
  
  .btn-primary:hover {
    background-color: var(--color-danger);
  }
  
  .btn-secondary:hover {
    background-color: #5a6268;
  }
  
  .btn:disabled {
    background-color: var(--color-primary); 
    color: white; 
    cursor: not-allowed; 
    opacity: 0.2; 
  }
  
  .tooltip-container {
    position: relative;
    display: inline-block;
  }
  
  .tooltip {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.875rem; 
    width: 200px; 
  }
  
  .tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
  
  .form-group {
    display: flex;
    align-items: center; 
    margin-bottom: var(--spacing-1); 
  }
  
  .form-group input[type="checkbox"] {
    flex-shrink: 0;
    width: auto; 
    height: auto; 
    margin-right: var(--spacing-2);
    margin-top: var(--spacing-2);
    outline: none;
  }
  
  .form-group label span{
    margin-left: var(--spacing-1);
    color: var(--text-2);
    font-size: var(--h5-size);
  }
  
  .form-group label {
    margin-top: 0;
  }
  
  .modal-footer-buttons {
    display: flex;
    justify-content: flex-end; 
    gap: var(--spacing-2); 
  }