/* tile & tile-list */

.tile {
    border: var(--border);
    border-radius: var(--border-radius);
}

.tile-list {
    padding: 0;
    list-style: none;
    margin: 1rem var(--spacing-1) 0 var(--spacing-1);
}

.tile-list .tile {
    border-top: var(--border-width) solid var(--border-color);
    font-size: var(--small-font-size);
}

.tile-list li:first-child.tile:not(.selected),
.tile-list li.tile.selected + li.tile {
    border-color: transparent;
}

.tile.selected {
    border-radius: var(--border-radius);
    border: var(--border-width-2) solid var(--color-primary);
    background-color: var(--color-primary-transparent);

    margin: calc(-1 * var(--border-width));
}

.tile a, .tile a:visited {
    padding: var(--spacing-2);
    border-radius: var(--border-radius);
    color: var(--text);
    text-decoration: none;
    display: block;
    background: none;
}

.tile h4 {
    font-weight: normal;
    margin-bottom: var(--spacing-2);
}

.tile .tile-row {
    display: flex; width: 100%;
}

.tile-row div {
    width: 50%;
}

.tile-row .tile-right {
    justify-content: flex-end;
    text-align: right;
}

.tile-filter {
    font-size: var(--small-font-size);
    margin: 1rem var(--spacing-2) 0 var(--spacing-2);
}

.tile-filter .filter-header {
    background-color: var(--background-2);
    padding: var(--spacing-1);
    border-radius: var(--border-radius);
}

.tile-filter.open .filter-header {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.filter-header .icon {
    vertical-align: middle;
    display: inline-block;
    width: 15%;
    text-align: right;
}

.filter-header .label {
    vertical-align: middle;
    display: inline-block;
    width: 85%;
}

.filter-header .icon .size-6 {
    width: 0.5rem;
    height: 0.5rem;
}

.tile-filter.open .filter-header .icon.down {
    display: none;
}

.tile-filter .filter-header .icon.up {
    display: none;
}

.tile-filter.open .filter-header .icon.up {
    display: inline-block;
}

.filter-menu {
    background-color: var(--background-2);
    padding: 0 var(--spacing-1) var(--spacing-1);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    display: none;

    transition: display 1s ease-out;
}

.tile-filter.open .filter-menu {
    display: block;
}

.filter-menu menu {
    padding-inline-start: 0;
    border-top: 1px solid var(--border-color-2);
}

.filter-menu li {
    list-style-type: none;
    padding-top: var(--spacing-1);
    text-decoration: underline;
}

    /* action bar */

.action-bar {
    background-color: var(--background-2);
    border-radius: var(--border-radius);
    list-style: none;
    padding: var(--spacing-1);
    display: inline-flex;
    justify-content: start;
}

.action-bar > li {
    border-right: var(--border-width) solid var(--border-color);
}

.action-bar > li:last-child {
    border-right: none;
}

.action-bar > li > button {
    background-color: transparent;
    border: none;
    color: var(--text);
    font-weight: normal;
}

hr {
    border: 0;
    border-bottom: var(--border);
    margin: 0;
}

/* logo */

#logo {
    letter-spacing: 0.2rem;
    font-weight: 500;
    text-transform: uppercase;
}

/* icon */

.icon {
    height: 1rem;
}

svg.size-6 {
    width: 1rem;
    height: 1rem;
}

/* skip to content links */

#skip-to-content-link {
    background: var(--color-primary);
    font-weight: bold;
    color: white;
    border: var(--border-width-2) solid var(--color-primary-transparent);
    position: absolute;
    transform: translateY(-100vh);
    transition: transform 0.3s;
    margin: var(--spacing-2);
    padding: var(--spacing-2);
    border-radius: var(--border-radius-2);
    background-clip: padding-box;
}

#skip-to-content-link:focus {
    transform: translateY(0%);
}

#skip-action-buttons-link {
    width: 0;
    opacity: 0;
    display: inline-block;
    white-space: nowrap;
    overflow-x: clip;
    border-right: none;

    color: var(--text);
    border-radius: var(--border-radius-2);
}

#skip-action-buttons-link:focus {
    width: auto;
    opacity: 100%;
    border-right: inherit;
    padding: var(--spacing-1) var(--spacing-2);
    font-size: var(--small-font-size);
}

.action-bar > li:first-child:has(a#skip-action-buttons-link) {
    border-right: none;
}

/* processes and defintions */

h1 > span.selected {
    font-weight: normal;
    text-decoration: underline dashed;
}


main#processes #selection {
    overflow-y: auto;
    padding: var(--spacing-2);
}

/* tabs */

.tabs > .tab-selection {
    display: flex;
    gap: 0 var(--spacing-1);
    flex-wrap: wrap;
    margin-top: var(--spacing-1);
}

.tabs > .tab-selection > a {
    border: var(--border);
    padding: var(--spacing-1);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    color: var(--text);
    text-decoration: none;
    border-bottom-color: transparent;
    display: inline-block;
    position: relative;
    top: var(--border-width);
}

.tabs > .tab-selection > a[aria-selected="true"] {
    background: var(--background-1);
    border-top-width: var(--border-width-3);
    border-top-color: var(--color-primary);
    color: var(--color-primary);
    font-weight: bold;
    /*margin-bottom: calc(-1 * var(--border-width));*/
    border-bottom-color: var(--background-1);
    z-index: 2;
}

.tabs > .selected-tab {
    border: var(--border);
    border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);

    padding: var(--spacing-1);
}

.tabs-back {
    background: var(--background-2);
    padding: var(--spacing-1);
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    justify-content: space-between;

    &.bg-1 {
        background: var(--background-1);
    }

    > svg {
        height: 1rem;
        width: 1rem;
        color: var(--text);
        stroke-width: .1rem;
        stroke-linecap: round;
    }
}


/* bpmn diagram */

#processes .react-bpmn-diagram-container {
    height: 100%;
}

/*  */
/*  */
/*  */

.copy-on-click {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-1);
}

.copy-on-click:hover {
    cursor: copy;
    text-shadow: 0 0 4px var(--color-primary-transparent);
}


.copy-on-click:hover::after {
    content: url("../assets/icons/copy-to-clipboard.svg");
    width: 1rem;
    height: 1rem;
    display: inline-block;
    stroke-width: .5rem;
    text-shadow: 0 0 4px var(--color-primary-transparent);
}

.copy-on-click:active {
    /*font-weight: bold;*/
    text-shadow: 0 0 4px var(--color-primary);
}


/* accordion */

div.accordion {
    border: var(--border);
    border-radius: var(--border-radius);
    margin-top: 1rem;

    details {
        border-bottom: var(--border);

        summary {
            display: flex;
            align-items: center;
            gap: var(--spacing-1);
            padding: var(--spacing-1);
        }

        summary::before {
            content: "";
            background-image:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m8.25 4.5 7.5 7.5-7.5 7.5' /%3E%3C/svg%3E%0A");
            background-size: 1rem 1rem;
            display: inline-block;
            width: 1rem;
            height: 1rem;
        }

        .panel {
            padding:  0 var(--spacing-2)var(--spacing-2) var(--spacing-2);
        }
    }

    details[open] {
        background: var(--background-2);

        > summary::before {
            transform: rotate(90deg);
        }

        details[open] {
            background: var(--background-1);
        }
    }

    details:first-child {
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
    }

    details:last-child {
        border-bottom: none;
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }
}



/* bpmn diagram */

#processes .react-bpmn-diagram-container {
    height: 100%;
}

/*  */
/*  */
/*  */

.copy-on-click {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-1);
}

.copy-on-click:hover {
    cursor: copy;
    text-shadow: 0 0 4px var(--color-primary-transparent);
}


.copy-on-click:hover::after {
    content: url("../assets/icons/copy-to-clipboard.svg");
    width: 1rem;
    height: 1rem;
    display: inline-block;
    stroke-width: .5rem;
    text-shadow: 0 0 4px var(--color-primary-transparent);
}

.copy-on-click:active {
    /*font-weight: bold;*/
    text-shadow: 0 0 4px var(--color-primary);
}

/* task menu */
.task-menu {
    display: flex;
    margin: var(--spacing-2);
}

.task-menu menu {
    padding-inline-start: var(--spacing-2);
}

.task-menu menu li {
    list-style-type: none;
    float: left;
    padding: var(--spacing-1) 0;
    background-color: var(--background-2);
    border-radius: 0;
    cursor: pointer;
}

.task-menu menu li:first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.task-menu menu li:last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.task-menu menu .border {
    border-right: 1px solid var(--border-color-2);
}

.task-menu menu li .icon {
    vertical-align: middle;
    display: inline-block;
    margin: 0 5px 0 var(--spacing-2);
}

.task-menu menu li .label {
    vertical-align: middle;
    display: inline-block;
    margin-right: var(--spacing-2);
}

/* task container */
.task-container {
    margin: var(--spacing-3);
}

.task-container h1 {
    font-size: var(--h2-size);
    font-weight: normal;
    margin: 1rem 0;
}

.task-container h5 {
    font-size: var(--h5-size);
    padding-bottom: var(--spacing-1);
}

/* task tabs */
.task-tabs {
    display: flex;
    width: max-content;
    margin-top: var(--spacing-3);
    /* padding: var(--spacing-1) 0; */
    font-size: var(--small-font-size);
    font-weight: bold;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    cursor: pointer;
}

.task-tabs > div {
    /*padding: 0 var(--spacing-2); */
    padding: var(--spacing-1) var(--spacing-2);
    border-right: 1px solid var(--border-color);
}

.task-tabs > div:last-child {
    border-right: none;
}

.task-tabs > div.selected {
    border-radius: var(--border-radius);
    border: 2px solid var(--border-color-2);
    background-color: var(--background-2);
}

.tab-content {
    margin-top: var(--spacing-3);
}

.tab-content.hide {
    display:none;
}

.generated-form form {
    display: flex;
    flex-wrap: wrap;
}

.generated-form .form-group {
    /*max-width: 24rem;*/
    width: 40%;
    margin-right: var(--spacing-3);
    margin-top: var(--spacing-2);
}

.generated-form .form-group label {
    display: block;
    font-size: var(--small-font-size);
    font-weight: bold;
    margin-bottom: var(--spacing-1);
}

.generated-form .form-group input:not([type='checkbox']) {
    width: 80%;
}

.generated-form .form-group input[type="checkbox"] {
    margin-left: 0;
}

/* button for date field that we don't need */
.generated-form .form-group .input-group-btn {
    display: none;
}

/* error text for fields */
.generated-form .form-group .help-block {
    display: none;
}

.generated-form .form-buttons {
    width: 100%;
    margin-top: var(--spacing-3);
}

.generated-form .form-buttons button {
    display: inline-block;
    margin-right: var(--spacing-1);
}