/* tile & tile-list */

.tile-list {
    padding: 0;
    list-style: none;
    margin: 1rem var(--spacing-1) 0 var(--spacing-1);
}

.tile-list .tile {
    border-top: var(--border-width) solid var(--border-color);
}

.tile-list li:first-child.tile:not(.selected),
.tile-list li.tile.selected + li.tile {
    border-color: transparent;
}

.tile.selected {
    border-radius: var(--border-radius);
    border: var(--border-width-2) solid var(--color-primary);
    background-color: var(--color-primary-transparent);

    margin: calc(-1 * var(--border-width));
}

.tile a {
    padding: var(--spacing-2);
    border-radius: var(--border-radius);
    color: var(--text);
    text-decoration: none;
    display: block;
    background: none;
}

/* action bar */

.action-bar {
    background-color: var(--background-2);
    border-radius: var(--border-radius);
    list-style: none;
    padding: var(--spacing-1);
    display: inline-flex;
    justify-content: start;
}

.action-bar > li {
    border-right: var(--border-width) solid var(--border-color);
}

.action-bar > li:last-child {
    border-right: none;
}

.action-bar > li > button {
    background-color: transparent;
    border: none;
    color: var(--text);
    font-weight: normal;
}

hr {
    border: 0;
    border-bottom: var(--border);
    margin: 0;
}

/* logo */

#logo {
    height: 1.8rem;
    width: auto;
}

p#logo {
    letter-spacing: 0.2rem;
    height: auto;
    font-weight: 400;
}

/* icon */

.icon {
    height: 1rem;
}

/* skip to content links */

#skip-to-content-link {
    background: var(--color-primary);
    font-weight: bold;
    color: white;
    border: var(--border-width-2) solid var(--color-primary-transparent);
    position: absolute;
    transform: translateY(-100vh);
    transition: transform 0.3s;
    margin: var(--spacing-2);
    padding: var(--spacing-2);
    border-radius: var(--border-radius-2);
    background-clip: padding-box;
}

#skip-to-content-link:focus {
    transform: translateY(0%);
}

#skip-action-buttons-link {
    width: 0;
    opacity: 0;
    display: inline-block;
    white-space: nowrap;
    overflow-x: clip;
    border-right: none;

    color: var(--text);
    border-radius: var(--border-radius-2);
}

#skip-action-buttons-link:focus {
    width: auto;
    opacity: 100%;
    border-right: inherit;
    padding: var(--spacing-1) var(--spacing-2);
    font-size: var(--small-font-size);
}

.action-bar > li:first-child:has(a#skip-action-buttons-link) {
    border-right: none;
}

/* processes and defintions */

h1 > span.selected {
    font-weight: normal;
    text-decoration: underline dashed;
}


/* tabs */

.tabs > .tab-selection {
    display: flex;
    gap: 0 var(--spacing-1);
    flex-wrap: wrap;
    margin-top: var(--spacing-1);
}

.tabs > .tab-selection > a {
    border: var(--border);
    padding: var(--spacing-1);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    color: var(--text);
    text-decoration: none;
    border-bottom-color: transparent;
    display: inline-block;
    position: relative;
    top: var(--border-width);
}

.tabs > .tab-selection > a[aria-selected="true"] {
    background: var(--background);
    border-top-width: var(--border-width-3);
    border-top-color: var(--color-primary);
    color: var(--color-primary);
    font-weight: bold;
    /*margin-bottom: calc(-1 * var(--border-width));*/
    border-bottom-color: var(--background);
    z-index: 2;
}

.tabs > .selected-tab {
    border: var(--border);
    border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);

    padding: var(--spacing-1);
}

.tabs-back {
    background: var(--background-2);
    padding: var(--spacing-1);
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    justify-content: space-between;
}

.tabs-back > svg {
    height: 1rem;
    width: 1rem;
    color: var(--text);
    stroke-width: .1rem;
    stroke-linecap: round;
}

/* bpmn diagram */

#processes .react-bpmn-diagram-container {
    height: 100%;
}

/*  */
/*  */
/*  */

.copy-on-click {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-1);
}

.copy-on-click:hover {
    cursor: copy;
    text-shadow: 0 0 4px var(--color-primary-transparent);
}


.copy-on-click:hover::after {
    content: url("../assets/icons/copy-to-clipboard.svg");
    width: 1rem;
    height: 1rem;
    display: inline-block;
    stroke-width: .5rem;
    text-shadow: 0 0 4px var(--color-primary-transparent);
}

.copy-on-click:active {
    /*font-weight: bold;*/
    text-shadow: 0 0 4px var(--color-primary);
}