div#app {
    display: grid;
    grid-template-areas:
        "header"
        "main";
    grid-template-rows: fit-content(4rem) auto;
    height: 100vh;

    main {
        grid-area: main;
        /*padding: var(--spacing-1);*/
        overflow-y: auto;
        height: 100%;

        &#tasks {
            display: flex;

            nav {
                /*overflow-y: auto;*/
                position: relative;
                display: grid;
                grid-template-rows: max-content auto;
                max-height: 100%;
            }
        }

        &.split-layout {
            display: grid;
            grid-template-columns: max-content minmax(max-content, 1fr);
            /*grid-template-columns: repeat(2, minmax(30ch, 90%));*/
            /*grid-template-columns: repeat(2, minmax(0, 1fr));*/
            /*gap: var(--spacing-2);*/
        }
    }

    > header {
        grid-area: header;
        display: flex;
        flex-direction: column;
        border-bottom: var(--border);

        nav {
            padding: 0 var(--spacing-1);

            > menu {
                gap: 0 var(--spacing-2);
            }

            menu {
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                padding: 0;

                li a {
                    color: var(--text);
                    display: block;
                    padding: var(--spacing-1);

                    &.active {
                        color: var(--color-primary);
                    }
                }
            }

            &#primary-navigation {
                display: flex;
                flex-wrap: wrap;
                gap: var(--spacing-1) var(--spacing-2);
                justify-content: space-between;

                button {
                    padding: var(--spacing-1);
                }
            }

            &#secondary-navigation {
                background: var(--background-2);
                font-size: var(--small-font-size);
                display: flex;
                justify-content: space-between;
                border-bottom: var(--border);
                flex-wrap: wrap;

                > span {
                    padding: var(--spacing-1)
                }

                > menu {
                    gap: 0;
                    flex-wrap: wrap;

                    > menu {
                        margin-right: var(--spacing-1);
                        padding-right: var(--spacing-1);
                        flex-wrap: wrap;

                        &#skip-links {
                            opacity: 0;
                            width: 0;
                            height: 0;
                            transition: opacity 100ms;
                            position: absolute;
                            left: -999vw;

                            &:focus-within {
                                width: initial;
                                height: initial;
                                opacity: 1;
                                transition: opacity 100ms;
                                left: 0;
                                position: relative;
                            }
                        }

                        &:last-child {
                            border-right: none;
                            margin-right: 0;
                            padding-right: 0;
                        }
                    }
                }
                #server_selector {

                    select {
                        border: none;
                        background: transparent;
                        padding: 0 var(--spacing-1) 0 0;
                        letter-spacing: 0.03rem;
                        width: 12ch;
                        text-overflow: ellipsis;
                    }
                }

            }
        }
    }
}


/* header */


header > nav > menu {
    padding: 0;
    letter-spacing: 0.03rem;
}

header > nav menu > li > a.active {
    font-weight: bold;
    color: var(--color-primary);
}

header > nav menu > li > a.active::after {
    content: " ";
    display: block;
    margin: 0.1rem auto -0.2rem auto;
    width: 2rem;
    height: 0.2rem;
    background-color: var(--color-primary);
    /* position: absolute; */
    border-radius: 10rem;
    top: 0;
}

header > nav menu a {
    color: var(--text);
    text-decoration: none;
}

.row {
    display: flex;
}


.col {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.center {
    align-items: center;
}

.gap-1 {
    gap: var(--spacing-1)
}

.gap-2 {
    gap: var(--spacing-2)
}

.p-1 {
    padding: var(--spacing-1);
}

.p-2 {
    padding: var(--spacing-2);
}

.p-3 {
    padding: var(--spacing-3);
}

.bg-1 {
    background: var(--background-1);
}

.bg-2 {
    background: var(--background-2);
}

.relative {
    position: relative;
}

.screen-hidden {
    position: absolute;
    left: -999vw;
    height: 0;
    width: 0;
}