div#app {
    display: grid;
    grid-template-areas:
        "header"
        "main";
    grid-template-rows: fit-content(4rem) auto;
    height: 100vh;

    main {
        grid-area: main;
        /*padding: var(--spacing-1);*/
        overflow-y: auto;
    }

    header {
        grid-area: header;
        display: flex;
        flex-direction: column;
        border-bottom: var(--border);

        nav#secondary-navigation {
            background: var(--background-2);
            font-size: var(--small-font-size);
            display: flex;
            justify-content: space-between;
            border-bottom: var(--border);

            > span {
                padding: var(--spacing-1)
            }
        }
    }
}


main.split-layout {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /*gap: var(--spacing-2);*/
}

/* header */

header > nav menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-1) var(--spacing-2);
    padding: var(--spacing-1);
}

header > nav > menu {
    padding: 0;
    letter-spacing: 0.03rem;
}

header > nav menu > li > a.active {
    font-weight: bold;
    color: var(--color-primary);
}

header > nav menu > li > a.active::after {
    content: " ";
    display: block;
    margin: 0.1rem auto -0.2rem auto;
    width: 2rem;
    height: 0.2rem;
    background-color: var(--color-primary);
    /* position: absolute; */
    border-radius: 10rem;
    top: 0;
}

header > nav menu a {
    color: var(--text);
    text-decoration: none;
}

.row {
    display: flex;
}

.gap {
    gap: var(--spacing-2)
}

.p-1 {
    padding: var(--spacing-1);
}

.p-2 {
    padding: var(--spacing-2);
}

.p-3 {
    padding: var(--spacing-3);
}

.bg-1 {
    background: var(--background-1);
}

.bg-2 {
    background: var(--background-2);
}

.relative {
    position: relative;
}