body {
    margin: 0;
    padding: 0;
}

menu {
    margin: 0;
}

table {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
    border-spacing: 0;
    margin-top: 1em;
}

th {
    text-align: left;
}

td,
th {
    padding: 0 var(--spacing-2) var(--spacing-2) 0;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: var(--spacing-1);
    margin-left: var(--spacing-2);
}