:root {
    color-scheme: light;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-1);
    color: var(--text);
}

menu {
    margin: 0;
}

a, a:visited {
    color: var(--color-primary);
    cursor: pointer;
}

table {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    overflow-x: scroll;
    white-space: nowrap;
    border-spacing: 0;
    margin-top: 1em;

    /* TODO: Force scrollbar visible on MacOS as an indicator, if table is scrollable */
}

/*table:hover {*/
/*    !*bottom: 0;*!*/
/*    !*left: 0;*!*/
/*    width: 200%;*/
/*    margin-right: -100%;*/
/*    height: auto;*/
/*    background: var(--background-1);*/
/*    border: var(--border);*/
/*    border-radius: var(--border-radius);*/
/*    padding: var(--spacing-1);*/
/*    z-index: 100;*/
/*}*/

th {
    text-align: left;
}

td,
th {
    padding: 0 var(--spacing-3) var(--spacing-2) 0;
}

dl {
    margin-top: var(--spacing-1);
    margin-bottom: 0;
    overflow: hidden;
}

dt {
    margin-top: var(--spacing-1);
    font-weight: bold;
}

dt:first-child {
    margin-top: 0;
}

dd {
    margin-left: var(--spacing-2);
    text-overflow: ellipsis;
    overflow: hidden;
}

aside {
    width: 16rem;
    min-height: 100%;
    border-right: var(--border-width) solid var(--border-color);
}

section:not(:first-child) {
    margin-top: var(--spacing-3);
}

dialog {
    max-width: 80ch;
    width: 80ch;
    margin: auto;
    max-height: 80%;
    border: var(--border);
    border-radius: var(--border-radius-2);
    box-shadow: 0 0 var(--spacing-2) #0002;
}
